################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/angular-kendo-template/angular-kendo-template/bin
/angular-kendo-template/angular-kendo-template/obj/Debug
/angular-kendo-template/angular-kendo-template/Properties
/angular-kendo-template/packages
/angular-kendo-template/.vs
